<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (error) { %>
        <div>
            Error!
            <div>
                <%= error %>
            </div>
        </div>
    <% } %>
    <div>
        <h1>Login:</h1>
        <form action="/login" method="POST">
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </div>
    <ul>
        <li><a href="https://www.ukr.net/news/russianaggression.html">Russian aggression</a></li>
        <li><a href="https://www.ukr.net/news/politics.html">Politics</a></li>
        <li><a href="https://www.ukr.net/news/economics.html">Economics</a></li>
        <li><a href="https://www.ukr.net/news/criminal.html">Criminal</a></li>
        <li><a href="https://www.ukr.net/news/society.html">Society</a></li>
    </ul>
</body>
</html>